@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body{
  margin: 0;
   font-family: "DM Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.css-kf85qm-JoyInput-root:not([data-skip-inverted-colors]) {
  --Input-focusedHighlight: var(--_Input-focusedHighlight, var(--joy-palette-focusVisible, var(--joy-palette-primary-500, none))) !important;
    border: none;
    box-shadow: none;
}

.css-1cquhrj-JoyTextarea-root:not([data-inverted-colors="false"]) {
  --Textarea-focusedHighlight: var(--_Textarea-focusedHighlight, var(--joy-palette-focusVisible, var(--joy-palette-primary-500, none))) !important;
}
.css-ukor9l-JoyInput-root:not([data-skip-inverted-colors]) {
  --Input-focusedHighlight: var(--_Input-focusedHighlight, var(--joy-palette-focusVisible, var(--joy-palette-primary-500, none))) !important;
    border: none;
    box-shadow: none;
}
.text{
  font-family: "BBH Bartle", sans-serif !important;

}
*{
     font-family: "DM Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.hero{
  background-image: url('./assets/img/unnamed4.jpg');
  height:  600px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.imgsec{
  background-image: url('./assets/img/jpeg.webp');
  height:  600px;
  
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}
