@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


body{
  margin: 0;
   font-family: "DM Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.text{
  font-family: "BBH Bartle", sans-serif !important;

}
*{
     font-family: "DM Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.hero{
  background-image: url('./assets/img/unnamed4.jpg');
  height:  600px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}